body{
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 15px;
    align-items: center;
    
}

form, table{
    display: flex;
    flex-direction: column;
    width: 30%;
    background: #FFB74D;
    padding: 5px;
    align-items: center;
    border-radius: 8px;

}

input, button{
    margin: 3px 0px; 
    padding: 10px;
    width: 50%;
    border-radius: 8px; 
}

button{
    background: #D35400;
    color: black;
    border: none;
    cursor: pointer;
    
}